<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>General Ledger</title>
</head>

<body style="font-family: Time New Roman; color: #000080;">

<form action="vl" method="POST">
    {% csrf_token %}
    <p align="center"><b>
        <!-- <font size="6">J</font> -->
        <br><label style="font-size:30px;">JAIMIN PATEL OFFICE</label>
        <center>Gujarat, India</font><br>Official Home Page</center>
    </b>
        <font size="1">&nbsp;</font>
    </p>
    <hr style="width:98%; margin-top:-27px; border-width: 2px; background-color: #000080;">
    </br>
    <nav class="navbar navbar-expand-lg navbar-light   mx-3" style="margin-top: -40px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: #000080;" href="http://127.0.0.1:8000/accounting">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #000080;" href="http://127.0.0.1:8000/accounting/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ledger
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="http://127.0.0.1:8000/accounting/ledgerlogin">General Ledger</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/accounting/tjledgerlogin">Trading Journal
                            Ledger</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #000080;" href="http://127.0.0.1:8000/accounting/voucherslogin">Vaouchers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #000080;" href="http://127.0.0.1:8000/accounting/tjlogin">Trading
                        Journal</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Request
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://127.0.0.1:8000/accounting/creditlogin">Credit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/accounting/debitlogin">Debit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/accounting/tjcreditlogin">Trading Journal
                            Credit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/accounting/tjdebitlogin">Trading Journal
                            Debit</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #000080;" href="http://127.0.0.1:8000/accounting/reportlogin">Reports</a>
                </li>

            </ul>
        </div>
    </nav>


    <hr style="width:98%; margin-top:0px; border-width: 2px; background-color: #000080;">
    <center><label style="font-size: 18px;"><b>General Ledger</b></label></center>
    <table class="table" style="width: 1500px; margin-left: 18px;" id="results">
        <thead>

        <tr>
            <th class="col-md-1 mb-3" scope="col">Date</th>
            <th class="col-md-7 mb-3" scope="col">Script</th>
            <th class="col-md-1 mb-3" scope="col">Debit</th>
            <th class="col-md-1 mb-3" scope="col">Credit</th>
            <th class="col-md-4 mb-3" scope="col">Running Balance</th>
        </tr>

        </thead>
        <tbody>
        {% for m, b, d, a, ca, cca, v, d1, rnbl in comb_list%}
        <tr>
            <td>{{d}}</td>
            <td>{{b}}</td>
            <td>{{a}}{{v}}{{d1}}</td>
            <td>{{ca}}{{cca}}</td>
            <td>{{rnbl}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <table class="table" style="width: 1500px; margin-left: 18px;" id="total">
        <thead>

        <tr>
            <th class="col-md-1 mb-3" scope="col"></th>
            <th class="col-md-7 mb-3" scope="col">TOTAL AMOUNT</th>
            <th class="col-md-1 mb-3" scope="col">{{dsum}}</th>
            <th class="col-md-1 mb-3" scope="col">{{csum}}</th>
            <th class="col-md-4 mb-3" scope="col">{{rn}}</th>
        </tr>

        </thead>
    </table>

    <center>

        <button name="print" target="_blank" class="btn btn-primary" style="width: 100px;  ">Print
        </button> <!--data-toggle="modal" data-target="#exampleModal"-->

    </center>

    <hr style="width:98%; border-width: 2px; background-color: #000080; margin-top: 20px;">


    <div class="mx-3">
        <dt>
            <font style="font-size: 16.5px;">Copyright © 2020-2021<b> Jaimin Patel Office</b></font>
        </dt>
    </div>

</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>